{% extends "base.html" %} {% block title %}Zarejestruj się! Twój budżet{%
endblock %} {% block footer %}
<script src="/js/hideShowPassword.js"></script>
<script src="/js/app.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<script>
  $(document).ready(function () {
    /**
     * Validate the form
     */
    $("#formSignup").validate({
      submitHandler: function(form) {
      errorClass: "text-danger",
      rules: {
        name: {
          required: true,
          maxlength: 20,
        },
        email: {
          required: true,
          email: true,
          remote: "/account/validate-email",
        },
        password: {
          required: true,
          minlength: 6,
          maxlength: 20,
          validPassword: true,
        },
      },
      messages: {
        name: {
          required: "Pole wymagane",
          maxlength: "Imię max. 20 znaków",
        },
        email: {
          required: "Pole wymagane",
          email: "Podaj poprawny adres email",
          remote: "Email already taken",
        },
        password: {
          required: "Pole wymagane",
          minlength: "Minimalna długość hasła to 6 znaków",
          maxlength: "Maksymalna długość hasła to 20 znaków",
          validPassword: "Hasło musi zawierać przynajmniej 1 literę i 1 cyfrę",
        },
      },
      errorPlacement: function ($error, $element) {
        var name = $element.attr("name");

        $("#error" + name).append($error);
      },
      form.submit();
    },
    });
  });
</script>

<footer>
  © 2022
  <img src="/img/favicon.ico" alt="Arturnix icon" /> Arturnix.
</footer>

{% endblock %} {% block body %} {% if user.errors is not empty %}
<p>Errors:</p>
<ul>
  {% for error in user.errors %}
  <li>{{ error }}</li>
  {% endfor %}
</ul>
{% endif %}

<!-- register -->

<section class="h-100 login-page-form">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-11">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6 d-flex align-items-center login-page-custom">
              <div class="px-3 py-4 p-md-5 mx-md-4">
                <header>
                  <div id="title-login-page">
                    <img
                      class="header-budget-img"
                      src="/img/budget.png"
                      alt="budget-img"
                    />
                    <h4 class="mb-4 mt-2">
                      <strong
                        >Zaplanuj swój budżet i zacznij oszczędzać!</strong
                      >
                    </h4>
                  </div>

                  <p class="medium mb-0">
                    Prowadzenie szczegółowego zapisu obortu własnymi finansami
                    to pierwszy krok do stworzenia sobie możliwości aby spełniać
                    marzenia. <br />Aktualizuj stan przychodów i wydatków oraz
                    monitoruj bilans finansowy z dowolnego okresu.
                  </p>
                </header>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1">Podaj dane nowego użytkownika:</h4>
                </div>

                <form method="post" action="/signup/create" id="formSignup">
                  <div class="input-container mb-2">
                    <div class="input-group-prepend">
                      <span><i class="fa-solid fa-signature icon"></i></span>
                    </div>
                    <input
                      type="text"
                      id="inputName"
                      name="name"
                      autofocus
                      value="{{ user.name }}"
                      class="form-control"
                      placeholder="Imię"
                      required
                    />
                  </div>
                  <small id="errorname"></small>

                  <div class="input-container mb-2">
                    <div class="input-group-prepend">
                      <span><i class="fa-solid fa-envelope icon"></i></span>
                    </div>
                    <input
                      type="email"
                      id="inputEmail"
                      name="email"
                      value="{{ user.email }}"
                      class="form-control"
                      placeholder="E-mail"
                      required
                    />
                  </div>
                  <small id="erroremail"></small>

                  <div class="input-container mb-2">
                    <div class="input-group-prepend">
                      <span><i class="fa-solid fa-lock icon"></i></span>
                    </div>
                    <input
                      type="password"
                      id="password"
                      name="password"
                      class="form-control"
                      placeholder="Hasło"
                      required
                    />
                    <div class="input-group-append">
                      <span onclick="password_show_hide();">
                        <i class="fas fa-eye eye-icon" id="show_eye"></i>
                        <i
                          class="fas fa-eye-slash d-none eye-icon"
                          id="hide_eye"
                        ></i
                      ></span>
                    </div>
                  </div>
                  <small id="errorpassword"></small>

                  <div
                    class="g-recaptcha"
                    data-sitekey="6LeIjoolAAAAAJYjakdywVW3q52SSCFOYqmlse11"
                  ></div>

                  <div class="text-center mt-3">
                    <button
                      type="submit"
                      class="login-btn btn btn-success btn-block mb-3"
                    >
                      Zarejestruj się
                    </button>
                  </div>
                </form>

                <div class="d-flex align-items-center justify-content-center">
                  <p class="my-5 me-2 mr-3">Powrót do strony logowania</p>
                  <a href="/" type="button" class="btn btn-outline-primary">
                    Zaloguj się
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
