{% extends 'base.html' %} {% block title %}Ogarnij swój budżet!{% endblock %} {%
block body %} {% if current_user %} Hello {{ current_user.name }}.

<a href="/logout">Log out</a>

<header>
  <div id="title">
    <img class="header-budget-img" src="img/budget.png" alt="budget-img" />
    <h1 class="header-title">Zaplanuj swój budżet i zacznij oszczędzać!</h1>
  </div>

  <nav id="navigation-bar" class="navbar navbar-expand-lg navbar-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="home.html"
            ><i class="nav-icon fa-solid fa-house-chimney"></i>Strona główna</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="nav-icon fa-solid fa-sack-dollar"></i>Dodaj przychód</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add-expense.html"
            ><i class="nav-icon fa-solid fa-cash-register"></i>Dodaj wydatek</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="show-balance.html"
            ><i class="nav-icon fa-solid fa-scale-unbalanced"></i>Przeglądaj
            bilans</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><i class="nav-icon fa-solid fa-screwdriver-wrench"></i
            >Ustawienia</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register-login.html"
            ><i class="nav-icon fa-solid fa-arrow-up-right-from-square"></i
            >Wyloguj się</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="home-page-wall">
  <h2>
    <span class="home-page-quote">Zarabiaj.<wbr /></span
    ><span class="home-page-quote">Oszczędzaj.<wbr /></span
    ><span class="home-page-quote">Inwestuj...</span>
  </h2>
</div>

{% else %}
<a href="/signup/new">Sign up</a> or <a href="/login">log in</a>. {% endif %} {%
endblock %}
