{% extends 'base.html' %} {% block title %}Ogarnij swój budżet!{% endblock %} {%
block body %} {% if current_user %}

    <!-- datapicker -->
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.pl.min.js"></script>
  </head>

    <!-- expenses section  -->
    <h2 class="header-section pb-4">Wprowadź dane nowego przychodu:</h2>
    <form action="/incomes/create" method="post">
      <div class="form-group">
        <label for="incomeAmount">Kwota przychodu:</label>
        <div class="input-container">
          <i class="fa-sharp fa-solid fa-coins icon"></i>
          <input
            id="incomeAmount"
            name="incomeAmount"
            class="form-control"
            placeholder="Podaj kwotę przychodu"
            type="number"
            min="0"
            step="0.01"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="todays-date">Data przychodu:</label>
        <div class="input-container date" id="datepicker">
          <div class="input-group-addon">
            <i class="fa-regular fa-calendar-days icon"></i>
          </div>
          <input
            id="todays-date"
            name="todays-date"
            onkeydown="return false"
            class="form-control"
            placeholder="Wybierz datę z kalendarza"
            required
          />
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="incomeCategory">Źródło przychodu:</label>
        <br />
        <select id="incomeCategory" name="incomeCategory" class="form-control" required>
         
          {% for incomeCategory in incomeCategoriesDefault %}
            <option>{{ incomeCategory }}</option>
          {% endfor %}

        </select>
      </div>
      <div class="form-group">
        <label for="incomeComment">Komentarz:</label>
        <div class="input-container">
          <i class="fa-solid fa-pen icon"></i>
          <input 
          id="incomeComment"
          name="incomeComment" class="form-control" placeholder="Dodaj komentarz... (opcjonalnie)" />
        </div>
      </div>
      <div class="form-group btn-toolbar justify-content-between mb-5">
        <button type="submit" class="btn-group btn btn-success button-left">
          Dodaj
        </button>
        <a
          class="btn-group btn btn-danger button-right"
          role="button"
          href="/home/show"
          >Anuluj</a
        >
      </div>
    </form>
 

    <script type="text/javascript">
      $("#datepicker").datepicker({
        format: "yyyy-mm-dd",
        startDate: "2000-01-01",
        endDate: "+2m -1d",
        language: "pl",
        autoclose: true,
        todayBtn: "linked",
        todayHighlight: true,
      });
    </script>
    <script type="text/javascript">
      var today = new Date();
      var dd = ("0" + today.getDate()).slice(-2);
      var mm = ("0" + (today.getMonth() + 1)).slice(-2);
      var yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      $("#todays-date").attr("value", today);
    </script>

{% endif %} {% endblock %}
