{% extends 'base.html' %} {% block title %}Twój bilans{% endblock %} {% block
body %} {% if current_user %}

    <!-- datapicker -->
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="/js/bootstrap-datepicker.min.js"></script> 
    <!-- <script src="/js/bootstrap-datepicker.pl.min.js"></script> -->

    <!-- doughnut chart-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    

  </head>

<header>
  <div id="title">
    <img
      class="header-budget-img"
      id="budgetImg"
      src="/img/budget.png"
      alt="budget-img"
    />

    <h1 class="header-title">Zaplanuj swój budżet i zacznij oszczędzać!</h1>
  </div>

  <nav id="navigation-bar" class="navbar navbar-expand-lg navbar-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/home/index"
            ><i class="nav-icon fa-solid fa-house-chimney"></i>Strona główna</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/incomes/index"
            ><i class="nav-icon fa-solid fa-sack-dollar"></i>Dodaj przychód</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/expenses/index"
            ><i class="nav-icon fa-solid fa-cash-register"></i>Dodaj wydatek</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/balances/index"
            ><i class="nav-icon fa-solid fa-scale-unbalanced"></i>Przeglądaj
            bilans</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/settings/index"
            ><i class="nav-icon fa-solid fa-screwdriver-wrench"></i
            >Ustawienia</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout"
            ><i class="nav-icon fa-solid fa-arrow-up-right-from-square"></i
            >Wyloguj się</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- balance section -->
<aside>
  <nav>
    <div class="dropdown">
      <button
        class="btn btn-info dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Okres bilansu
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/balances/index">Bieżący miesiąc</a>
        <a class="dropdown-item" href="/balances/showPreviousMonth">Poprzedni miesiąc</a>
        <a class="dropdown-item" href="/balances/showCurrentYear">Bieżący rok</a>
        <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#myModal" href="#">Wybierz sam</a>
      </div>
    </div>
  </nav>
</aside>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Wybierz okres dla wyświetlenia bilansu</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form action="/balances/showRange" method="post">

          <div class="form-group-modal mt-4 mb-4">
            <label for="balanceDateStart">Bilans od:</label>
            <div class="input-container date" id="datepickerStart">
              <div class="input-group-addon">
                <i class="fa-regular fa-calendar-days icon"></i>
              </div>
              <input
                id="balanceDateStart"
                name="balanceDateStart"
                onkeydown="return false"
                class="form-control mb-2 mt-2"
                placeholder="Wybierz datę z kalendarza"
                required
              />
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>

          <div class="form-group-modal mt-4 mb-4">
            <label for="balanceDateEnd">Bilans do:</label>
            <div class="input-container date" id="datepickerEnd">
              <div class="input-group-addon">
                <i class="fa-regular fa-calendar-days icon"></i>
              </div>
              <input
                id="balanceDateEnd"
                name="balanceDateEnd"
                onkeydown="return false"
                class="form-control mb-2 mt-2"
                placeholder="Wybierz datę z kalendarza"
                required
              />
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
              </div>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <div class="btn-toolbar justify-content-left mb-3">
          <button type="submit" class="btn-group btn btn-success">
            Wybierz zakres
          </button>
          
        </div>
      </div>
     </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#datepickerStart").datepicker({
    format: "yyyy-mm-dd",
    startDate: "2000-01-01",
    endDate: "+2m -1d",
    language: "pl",
    autoclose: true,
    todayBtn: "linked",
    todayHighlight: true,
  });
  $("#datepickerEnd").datepicker({
    format: "yyyy-mm-dd",
    startDate: "2000-01-01",
    endDate: "+2m -1d",
    language: "pl",
    autoclose: true,
    todayBtn: "linked",
    todayHighlight: true,
  });
</script>
<script type="text/javascript">
  var today = new Date();
  var dd = ("0" + today.getDate()).slice(-2);
  var mm = ("0" + (today.getMonth() + 1)).slice(-2);
  var yyyy = today.getFullYear();
  today = yyyy + "-" + mm + "-" + dd;
 /* $("#balanceDateStart").attr("value", today);
  $("#balanceDateEnd").attr("value", today);*/
</script>

<h2 class="header-section">Bilans - {{ timePeriod }}:</h2>

<div class="cards-container">

  <div class="card mb-4">
    <div class="card-header">
      <h3 class="header-incomes">Przychody</h3>
    </div>
    <div class="card-body">

      {% if incomesData is empty %}
      <p>Brak dodanych przychodów w zadanym okresie</p>

      {% else %}

     {% for name in incomeNamesAndSum %}
      <ul class="balanceHeader">
      <li class="mb-3">{{ name.name }}: <span class="incomeSumColor">{{ name.sumIncomeCategory }}</span> zł</li>
      </ul>
      <ul class="balanceList">
      {% for data in incomesData %} {% if name.id == data.income_category_assigned_to_user_id %}
      <li class="mb-1">{{ data.date_of_income }} {{ data.income_comment }} <span class="incomeColor">{{ data.amount }}</span> zł</li>
      {% endif %} {% endfor %}
      </ul>

    {% endfor %} {% endif %}

    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3 class="header-expenses">Wydatki</h3>
    </div>
    <div class="card-body">

      {% if expensesData is empty %}
      <p>Brak dodanych wydatków w zadanym okresie</p>

      {% else %}

      {% for name in expenseNamesAndSum %}
      <ul class="balanceHeader">
      <li class="mb-3">{{ name.name }}: <span class="expenseSumColor">{{ name.sumExpenseCategory }}</span> zł</li>
      </ul>
      <ul class="balanceList">
      {% for data in expensesData %} {% if name.id == data.expense_category_assigned_to_user_id %}
      <li class="mb-1">{{ data.date_of_expense }} {{ data.expense_comment }} <span class="expenseColor">{{ data.amount }}</span> zł</li>
      {% endif %} {% endfor %}
      </ul>

    {% endfor %} {% endif %}

    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3 class="header-balance">Bilans</h3>
    </div>
    <div class="card-body">

      {% if expensesData is not empty or incomesData is not empty %}
      <p>Bilans: <span class="balanceColor">{{ balance }}</span> zł</p>
      {% if balance >= 0 %}
        <p class="balanceColorPlus">Gratulacje. Świetnie zarządzasz finansami!</p>
      {% else %}
        <p class="balanceColorMinus">Uważaj, wpadasz w długi!</p>
      {% endif %}

      {% else %}
      <p>Dodaj przychody i wydatki aby obliczyć bilans</p>
      {% endif %}

    </div>

    {% if expenseNamesAndSum is not empty %}

     <!-- doughnut chart-->
  <div>

    <canvas id="myChart" class="mb-4" style="width:100%;max-width:700px"></canvas>

  </div>

  <script>

    var expensesName = JSON.parse('{{ expenseNamesAndSum | json_encode | raw }}');
    var expeneseNames = [];

    var expensesAmounts = JSON.parse('{{ expenseNamesAndSum | json_encode | raw }}');
    var expensesSum = [];

    for(var i = 0; i < expensesName.length; i++){
      expeneseNames[i] = expensesName[i]['name'];
     }

    for(var i = 0; i < expensesAmounts.length; i++){
      expensesSum[i] = expensesAmounts[i]['sumExpenseCategory'];
    }

    var barColors = [
      "#b91d47",
      "#00aba9",
      "#2b5797",
      "#e8c3b9",
      "#1e7145",
      "#b97145",
      "#08c3a2",
      "#2b5797",
      "#e8c3b9",
      "#12b530",
      "#e8ca32",
      "#00aba9",
      "#575797",
      "#3a2119",
      "#3b9957",
      "#aba900",
      "#c3b022"
    ];
    
    new Chart("myChart", {
      type: "doughnut",
      data: {
        labels: expeneseNames,
        datasets: [{
          backgroundColor: barColors,
          data: expensesSum
        }]
      },
      options: {
        plugins: {
          legend: {
            display: false,
          },
        },
        title: {
          display: true,
          text: "Twoje wydatki z wybranego okresu"
        }
      }
    });
  
    </script>

    {% endif %}

  </div>
</div>

{% else %}

<section class="h-100 login-page-form">
  <div class="container py-5 h-100">
    <div
      class="row d-flex align-items-center justify-content-center h-100"
      id="accessDeniedMessage"
    >
      <h1><br />Strona dostępna tylko dla zalogowanych użytkowników!</h1>

      <p>
        <br /><br />
        Aby zacząć zarządzać swoim budżetem...<br /><br />
      </p>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <p class="my-5 me-2 mr-3"><b>Przejdź do strony logowania</b></p>
      <a href="/login" type="button" class="btn btn-primary"> Zaloguj się </a>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <p class="my-2 me-2 mr-3"><b>Jeśli nie masz jeszcze konta</b></p>
      <a href="/signup/new" type="button" class="btn btn-success">
        Zarejestruj się
      </a>
    </div>
  </div>
</section>

{% endif %} {% endblock %}
