{% extends 'base.html' %} {% block title %}Ogarnij swój budżet!{% endblock %} {%
block body %} {% if current_user %}

    <!-- datapicker -->
    <link href="/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/bootstrap-datepicker.pl.min.js"></script>
  </head>

    <header>
      <div id="title">
        <img class="header-budget-img" id="budgetImg" src="/img/budget.png" alt="budget-img" />
        <h1 class="header-title">Zaplanuj swój budżet i zacznij oszczędzać!</h1>
      </div>

      <nav id="navigation-bar" class="navbar navbar-expand-lg navbar-light">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home/show"
                ><i class="nav-icon fa-solid fa-house-chimney"></i>Strona
                główna</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/incomes/show"
                ><i class="nav-icon fa-solid fa-sack-dollar"></i>Dodaj
                przychód</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/expenses/show"
                ><i class="nav-icon fa-solid fa-cash-register"></i>Dodaj
                wydatek</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/balances/show"
                ><i class="nav-icon fa-solid fa-scale-unbalanced"></i>Przeglądaj
                bilans</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/settings/show"
                ><i class="nav-icon fa-solid fa-screwdriver-wrench"></i
                >Ustawienia</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout"
                ><i class="nav-icon fa-solid fa-arrow-up-right-from-square"></i
                >Wyloguj się</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- expenses section  -->
    <h2 class="header-section pb-4">Wprowadź dane nowego wydatku:</h2>
    <form action="/expenses/create" method="post">
      <div class="form-group">
        <label for="expenseAmount">Kwota wydatku:</label>
        <div class="input-container">
          <i class="fa-sharp fa-solid fa-coins icon"></i>
          <input
            id="expenseAmount"
            name="expenseAmount"
            class="form-control"
            placeholder="Podaj kwotę wydatku"
            type="number"
            min="0"
            step="0.01"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="todays-date">Data wydatku:</label>
        <div class="input-container date" id="datepicker">
          <div class="input-group-addon">
            <i class="fa-regular fa-calendar-days icon"></i>
          </div>
          <input
            id="todays-date"
            name="todays-date"
            onkeydown="return false"
            class="form-control"
            placeholder="Wybierz datę z kalendarza"
            required
          />
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="expensePaymentMethod">Metoda płatności:</label>
        <br />
        <select id="expensePaymentMethod" name="expensePaymentMethod" class="form-control" required>
         
          {% for expensePaymentMethod in paymentMethodsDefault %}
            <option>{{ expensePaymentMethod }}</option>
          {% endfor %}

        </select>
      </div>
      <div class="form-group">
        <label for="expenseCategory">Cel wydatku:</label>
        <br />
        <select id="expenseCategory" name="expenseCategory" class="form-control" required>
        
          {% for expenseCategory in expenseCategoriesDefault %}
            <option>{{ expenseCategory }}</option>
          {% endfor %}
       
        </select>
      </div>
      <div class="form-group">
        <label for="expenseComment">Komentarz:</label>
        <div class="input-container">
          <i class="fa-solid fa-pen icon"></i>
          <input 
          id="expenseComment"
          name="expenseComment" class="form-control" placeholder="Dodaj komentarz..." />
        </div>
      </div>
      <div class="form-group btn-toolbar justify-content-between mb-3">
        <button type="submit" class="btn-group btn btn-success button-left">
          Dodaj
        </button>
        <a
          class="btn-group btn btn-danger button-right"
          role="button"
          href="/home/show"
          >Anuluj</a
        >
      </div>
    </form>

    <script type="text/javascript">
      $("#datepicker").datepicker({
        format: "yyyy-mm-dd",
        startDate: "2000-01-01",
        endDate: "+2m -1d",
        language: "pl",
        autoclose: true,
        todayBtn: "linked",
        todayHighlight: true,
      });
    </script>
    <script type="text/javascript">
      var today = new Date();
      var dd = ("0" + today.getDate()).slice(-2);
      var mm = ("0" + (today.getMonth() + 1)).slice(-2);
      var yyyy = today.getFullYear();
      today = yyyy + "-" + mm + "-" + dd;
      $("#todays-date").attr("value", today);
    </script>

{% endif %} {% endblock %}
